.wallet-pic1{
  background-image: url("/images/journal/leather-folio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.leather-pic1{
  background-image: url("/images/journal/wood-leather.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wood-pic1{
  background-image: url("/images/journal/wood-iphone.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.maple-wallet-pic1{
  background-image: url("/images/journal/maple-leather-folio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.maple-leather-pic1{
  background-image: url("/images/journal/maple-leather.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.maple-wood-pic1{
  background-image: url("/images/journal/maple-bumper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.maple-bumper-pic1{
  background-image: url("/images/journal/maple-wood.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.walnut_speaker_pic{
  background-image: url("/images/journal/walnut-speaker-pic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.maple_speaker_pic{
  background-image: url("/images/journal/maple-speaker-pic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.desk_pic{
  background-image: url("/images/journal/desk_pic2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.desk_pic2{
  background-image: url("/images/journal/desk-pic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
