.journalcover-jpg {
  background-image: url("/images/journal/journal-cover.jpg");
  height: 400px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.journal-title {
    height: 160px;
    width: 660px;
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    color: white;
    letter-spacing: .4em;
    padding-top: 50px;
}

.journal-main {
    height: 1400px;
    width: 100%;
    background-color: white;
}

.journal-p1 {
    height: 175px;
    width: 660px;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0 0;
    color: #939393;
    /*background-color: pink;*/
    font-size: 16px;
}

.journal-slides {
    height: 1130px;
    width: 88%;
    background-color: blue;
    margin: 0 auto;
    position: relative;
}

.journal-boxes {
  float: left;
  border: solid black;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  height: 360px;
  width: 360px;
  background-color: grey;
}
