/* Add a dark background color with a little bit see-through */
.navbar {
    margin-bottom: 0;
    height: 65px !important;
    /*background-color: transparent;*/
    border: 0;
    font-size: 14px;
    letter-spacing: 4px;
}
/* Navbar Transforms Transparent to Solid */
.opaque-navbar {
    background-color: transparent !important;
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 0px;
    transition: .1s ease 0s;
}

.opaque-navbar.opaque {
    background-color: #424242 !important;
    height: 60px;
    transition: .5s ease 0s;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar {
    color: white !important;
}
.nav>li {
  display: inline-block !important;
}

.navbar-brands {
  height: 52px;
  padding: 14px;
  margin-top: 18px;
  margin-left: 28px;
}

/* On hover, the links will turn white */
.nav-navbar li a:hover {
    color: white !important;
}
.nav-navbar{
  margin-top: 22px;
  text-align: center !important;
}
/* The active link */
/*.nav-navbar li.active a {
    color: red !important;
    background-color:red !important;
}*/

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default {
  border-color: transparent !important;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}
