/* Add a dark background color with a little bit see-through */
.navbar {
    margin-bottom: 0;
    height: 60px;
    background-color: transparent !important;
    border: 0;
    font-size: 14px;
    letter-spacing: 4px;
    opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar {
    color: white !important;
}
.nav>li {
  display: inline-block !important;
}

.navbar-brands {
  height: 52px;
  padding: 14px;
  margin-top: 25px;
  margin-left: 25px;
}

/* On hover, the links will turn white */
.nav-navbar li a:hover {
    color: blue !important;
}
.nav-navbar{
  margin-top: 30px;
  text-align: center !important;
}
/* The active link */
.nav-navbar li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default {
  border-color: transparent !important;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}
