.shopcover-jpg {
  background-image: url("/images/shop/shop-cover.jpg");
  height: 400px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  background-position-y: -115px;
}

.shop-title {
    height: 160px;
    width: 660px;
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    color: white;
    letter-spacing: .4em;
    padding-top: 50px;
}

.shop-main {
    width: 100%;
    background-color: white;
}

/*-----------------NG REPEAT CASES---------------------------*/
.cases-row-container{
  width: 100%;
  border-bottom: 2px solid #f1f1f2;
}
.cases-container{
    max-width: 100%;
    margin: 6em auto 9em auto;
    /*outline: 1px solid blue;*/
}

.cases-photos{
    height: auto;
    max-width: 23%;
    display: inline-block;
    /*border: 1px solid red;*/
    margin-left: 1.5%;
    position: relative;
}
.cases-wrap {
  position: relative;
}

.cases-photos img {
  max-width: 100%;
  height: auto;
}
/*---------------------NG REPEAT DOCKS--------------------*/
.docks-row-container{
  width: 100%;
  border-bottom: 2px solid #f1f1f2;
}
.docks-container{
  max-width: 100%;
  margin: 6em auto 8em auto;
  /*outline: 1px solid blue;*/
}
.docks-photos{
    height: auto;
    max-width: 30%;
    display: inline-block;
    /*border: 1px solid red;*/
    margin-left: 2.4%;
    position: relative;
}
.docks-photos img {
  max-width: 100%;
  height: auto;
}
/*-------------------NG REPEAT SPEAKERS -----------------*/
.speakers-row-container{
  width: 100%;
  border-bottom: 2px solid #f1f1f2;
}
.speakers-container{
  max-width: 100%;
  margin: 0px auto 6.5em auto;
  /*outline: 1px solid blue;*/
}
.speakers-photos{
    height: auto;
    max-width: 48%;
    display: inline-block;
    /*border: 1px solid red;*/
    margin-left: 1.3%;
    position: relative;
}
.speakers-photos img {
  max-width: 100%;
  height: auto;
}
/*--------------------NG REPEAT Walnut STANDS------------------------------ */
.stands-row-container{
  width: 100%;
  border-bottom: 2px solid #f1f1f2;
}
.stands-container{
  max-width: 100%;
  margin: 4em auto 8.7em auto;
  /*outline: 1px solid blue;*/
}
.stands-photos{
    height: auto;
    max-width: 30%;
    display: inline-block;
    /*border: 1px solid red;*/
    margin-left: 2.6%;
    position: relative;
}
.stands-photos img {
  max-width: 100%;
  height: auto;
}
/*--------------------NG REPEAT ------------------------------ */
.cups-row-container{
  width: 100%;
  border-bottom: 2px solid #f1f1f2;
}
.cups-container{
  max-width: 100%;
  margin: 7em auto 10.5em auto;
  /*outline: 1px solid blue;*/
}
.cups-photos{
    height: auto;
    width: 17%;
    display: inline-block;
    /*border: 1px solid red;*/
    margin-left: 2.5%;
    position: relative;
}
.cups-photos img {
  max-width: 100%;
  height: auto;
}
/*-------------HIDDEN IMAGES ANIMATION-------------------- */
.hidden-photo {
  opacity: 0;
  width: 100%;
  height: auto;
  position: absolute;
  /*border: 1px solid green;*/
  top: 0;
}
.hidden-words {
  opacity: 0;
  width: 100%;
  text-align: center;
  color: #494c51;
  letter-spacing: .2em;
}
.hidden-add-word {
  color: #939393;
}

.hidden-effect:hover {
  z-index: 4;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
