.shopcover-jpg {
  background-image: url("/images/shop/shop-cover.jpg");
  height: 400px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.shop-title {
    height: 160px;
    width: 660px;
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    color: white;
    letter-spacing: .4em;
    padding-top: 50px;
}

.shop-main {
    height: 3000px;
    width: 100%;
    background-color: white;
}

/*-------------------------NG REPEAT CASES---------------------------*/
.cases-row-container{
  height: 440px;
  width: 100%;
  border: .1px solid #f1f1f2;
}
.cases-container{
    height: 269px;
    width: 90%;
    margin: 4.5em auto;
    outline: 1px solid blue;
}

.cases-photos{
    height: 269px;
    width: 269px;
    float: left;
    border: 1px solid red;
    margin-left: 1em;
    position: relative;
}
.cases-wrap {
  position: relative;
}

.cases-photos img {
  max-width: 100%;
  height: auto;
}
/*---------------------NG REPEAT DOCKS--------------------*/
.docks-row-container{
  height: 546px;
  width: 100%;
  border: 1px solid #f1f1f2;
}
.docks-container{
  height: 368px;
  width: 94%;
  margin: 71px auto 0 auto;
  outline: 1px solid blue;
}
.docks-photos{
    height: 368px;
    width: 368px;
    float: left;
    border: 1px solid red;
    margin-left: 1.8em;
    position: relative;
}
.docks-photos img {
  max-width: 100%;
  height: auto;
}
/*-------------------NG REPEAT SPEAKERS -----------------*/
.speakers-row-container{
  height: 742px;
  width: 100%;
  border: 1px solid #f1f1f2;
}
.speakers-container{
  height: 564px;
  width: 96%;
  margin: 71px auto 0 auto;
  outline: 1px solid blue;
}
.speakers-photos{
    height: 564px;
    width: 564px;
    float: left;
    border: 1px solid red;
    margin-left: 1.8em;
    position: relative;
}
.speakers-photos img {
  max-width: 100%;
  height: auto;
}
/*--------------------HIDDEN IMAGES ANIMATION------------------------------ */
.hidden-photo {
  opacity: 0;
  width: 100%;
  height: auto;
  position: absolute;
  /*border: 1px solid green;*/
  top: 0;
}
.hidden-words {
  opacity: 0;
  width: 100%;
  text-align: center;
  color: #494c51;
  letter-spacing: .2em;
}
.hidden-add-word {
  color: #939393;
}

.hidden-effect:hover {
  z-index: 4;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
