<div>
  <div class="limited-dock-cover p-covers">
    <div class="shop-title">
      LIMITED DOCK
    </div>
  </div>
  <main class="product-main">
    <div class="product-bar-container">
        <div class="product-bar-info">
          <h1 id="product-bar-title">
            Walnut Dock
          <span style="font-size: 17px"> $99</span>
          </h1>
          <div>
            Ships In 4 - 6 Weeks
          </div>
        </div>
        <div class="product-bar-controls">
          <button class="product-bar-buy">
            Add To Cart
          </button>
        </div>
    </div>
    <div class="dock_info_container">
        <div id="dock_info">
          <h4 style="color: #494c51">ORIGIN</h5>
          <p style="font-size: 13px">
            Base custom-manufactured in Portland, OR.
          </p>
          <p style="font-size: 13px">
            Designed and hand-finished by Grovemade.
          </p>
        </div>
    </div>
    <div class="dock_info_container">
        <div id="dock_info">
          <h4 style="color: #494c51">INFORMATION</h5>
          <p style="font-size: 13px">
            Hand sanded and finished with vegetable-based oil
          </p>
          <p style="font-size: 13px">
            One-handed operation
          </p>
          <p style="font-size: 13px">
            High grade ceramic coating
          </p>
        </div>
    </div>
    <div class="dock_info_container">
        <div id="dock_info">
          <h4 style="color: #494c51">MATERIALS</h5>
          <p style="font-size: 13px">
            Oregon Claro Walnut Cap
          </p>
          <p style="font-size: 13px">
            Steel Base
          </p>
        </div>
    </div>
  </main>
</div>
