<div class="blank-header">
</div>
<header class="cart-header">
  <div>
    <h4>Cart</h4>
  </div>
</header>
  <!-- <div class="cases-row-container">
    <div class="cases-container">
      <div class="cases-photos" ng-repeat="c in cart">
        <div class="cases-wrap" style="cursor: pointer">
          <img
          ng-src="{{c.image}}" alt=""
          />
          <div class="hidden-effect hidden-words hidden-photo">
          <img
          ng-src="{{c.imageHover}}"
          ui-sref="{{c.ui}}"alt=""
          />
            <h4>{{c.title}}</h4>
            <div class="hidden-add-word" ui-sref="{{c.ui}}">{{c.price}} | ADD TO CART</div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
