<div class="blank-header">
</div>
<header class="cart-header">
  <div class="cart-title">
    <h4>Your Cart</h4>
  </div>
</header>
    <div class="cart-container" ng-repeat="product in products">
        <div class="cart-image-container">
          <img
          ng-src="{{product.image}}" alt=""
          />
        </div>
        <div class="cart-info-container">
          {{product.title}}
        </div>
        <div class="cart-price">

          ${{product.price}}
        </div>
    </div>
    <div class="total-cart">
      <div>Total: <span style="margin-left: 30px">${{total}}</span></div>
    </div>
