<div>
  <div class="maple-wallet-cover p-covers">
    <div class="shop-title">
      MAPLE WALLET
    </div>
  </div>
  <main class="product-main">
      <div class="product-bar-container">
          <div class="product-bar-info">
              <h1 id="product-bar-title">
        Walnut & Leather iPhone Case
        <span style="font-size: 17px"> $109</span>
      </h1>
              <div>
                  Ships In 4 - 6 Weeks
              </div>
          </div>
          <div class="product-bar-controls">
              <button class="product-bar-buy">
        Add To Cart
      </button>
          </div>
      </div>
      <div class="product_container">
          <div id="pc_left">

          </div>
          <div id="pc_right">
            Keep your device secure on all sides and your most used cards well within reach with our maple and leather iPhone wallet case. Minimalist in design and featuring a frame of solid walnut with a cover of premium vegetable-tanned leather.
          </div>
      </div>
      <div class="technical-specifications-container">
          <div class="technical-specifications-wrap">
              <div class="product-specs_container">
                  <h2><b>Technical</b> Specifications</h2>
                  <div class="product-specs_column">
                      <div class="product-specs_group">
                          <h6 id="h-products">ORIGIN</h6>
                          <div id="p-marg">
                              Designed, manufactured, and hand-finished by Grovemade in Portland, OR.
                          </div id="p-marg">
                      </div>
                      <div class="product-specs_group">
                          <h6 id="h-products">INFORMATION</h6>
                          <div id="p-marg">
                              Actuated wood power and volume buttons
                          </div id="p-marg">
                          <div id="p-marg">
                              Hand sanded and finished with vegetable-based oil
                          </div id="p-marg">
                      </div>
                      <div class="product-specs_group">
                          <h6 id="h-products">MATERIAL</h6>
                          <div id="p-marg">
                              Oregon Claro Walnut
                          </div id="p-marg">
                          <div id="p-marg">
                              Domestic Vegetable-Tanned Leather
                          </div id="p-marg">
                          <div id="p-marg">
                              Single-use 3M Adhesive
                          </div id="p-marg">
                      </div>
                  </div>
                  <div class="products-specs_column2">
                      <div class="product-specs_group">
                          <h6 id="h-products">DIMENSIONS</h6>
                          <div id="p-marg">
                              Charger Port: 0.42" x 0.22"
                          </div id="p-marg">
                          <div id="p-marg">
                              i5/i6 Camera Hole: 0.72" x 0.33"
                          </div id="p-marg">
                          <div id="p-marg">
                              i6 Plus Camera Hole: 0.8" x 0.33"
                          </div id="p-marg">
                          <div id="p-marg">
                              iPhone 6 Headphone Port: 0.35" x 0.24"
                          </div id="p-marg">
                          <div id="p-marg">
                              iPhone SE Headphone Port Diameter: 0.25"
                          </div id="p-marg">
                      </div>
                      <div class="product-specs_group">
                          <h6 id="h-products">CONSIDERATIONS</h6>
                          <div id="p-marg">
                              The wood used in this product may be damaged by drops or other impacts. If a case that may break is not for you, please consider a rubber or plastic case.
                          </div>
                          <div id="p-marg">
                              This product uses authentic full grain leather which has beautiful imperfections from its natural origins. It will develop a distinguished character with use.
                          </div>
                          <div id="p-marg">
                              This product is made from natural materials, and you can expect a variation in color and wood grain.
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="product_container">
          <div id="pc_left2">

          </div>
          <div id="pc_right2">

          </div>
      </div>
  </main>
</div>
