<div>
  <div class="shopcover-jpg">
    <div class="shop-title">
      SHOP
    </div>
  </div>
  <main class="shop-main">
    <!--                NG_REPEAT DARK CASES PODUCTS ROW 1   -->
  <div class="cases-row-container">
    <div class="cases-container">
      <div class="cases-photos" ng-repeat="darkCase in darkCases">
        <div class="cases-wrap" style="cursor: pointer">
          <img
          ng-src="{{darkCase.image}}" alt=""
          />
          <div class="hidden-effect hidden-words hidden-photo">
          <img
          ng-src="{{darkCase.imageHover}}"
          ui-sref="{{darkCase.ui}}"alt=""
          />
            <h4>{{darkCase.title}}</h4>
            <div class="hidden-add-word" ui-sref="{{darkCase.ui}}">{{darkCase.price}} | ADD TO CART</div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!--              NG_REPEAT LIGHT CASES ROW 2     -->
  <div class="cases-row-container">
    <div class="cases-container">
      <div class="cases-photos" ng-repeat="lightCase in lightCases">
        <div class="cases-wrap" style="cursor: pointer">
          <img
          ng-src="{{lightCase.image}}" alt=""
          />
          <div class="hidden-effect hidden-words hidden-photo">
          <img
          ng-src="{{lightCase.imageHover}}"
          ui-sref="{{lightCase.ui}}" alt=""
          />
            <h4>{{lightCase.title}}</h4>
            <div class="hidden-add-word" ui-sref="{{lightCase.ui}}">{{lightCase.price}} | ADD TO CART</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--              NG_REPEAT DOCKS ROW        -->
  <div class="docks-row-container">
    <div class="docks-container">
      <div class="docks-photos" ng-repeat="dock in docks">
        <div class="cases-wrap" style="cursor: pointer">
          <img
          ng-src="{{dock.image}}" alt=""
          />
          <div class="hidden-effect hidden-words hidden-photo">
          <img
          ng-src="{{dock.imageHover}}" alt=""
          ui-sref="{{dock.ui}}"
          />
            <h4>{{dock.title}}</h4>
            <div class="hidden-add-word" ui-sref="{{dock.ui}}">{{dock.price}} | ADD TO CART</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--            NG-REAPEAT SPEAKERS ROW  -->
  <div class="speakers-row-container">
    <div class="speakers-container">
      <div class="speakers-photos" ng-repeat="speaker in speakers">
        <div class="cases-wrap" style="cursor: pointer">
          <img
          ng-src="{{speaker.image}}" alt=""
          />
          <div class="hidden-effect hidden-words hidden-photo">
          <img
          ng-src="{{speaker.imageHover}}" alt=""
          ui-sref="{{speaker.ui}}"
          />
            <h4>{{speaker.title}}</h4>
            <div class="hidden-add-word" ui-sref="{{speaker.ui}}">{{speaker.price}} | ADD TO CART</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--                  NG-REPEAT STANDS        -->
  <div class="stands-row-container">
    <div class="stands-container">
      <div class="stands-photos" ng-repeat="stand in stands">
        <div class="cases-wrap" style="cursor: pointer">
          <img
          ng-src="{{stand.image}}" alt=""
          />
          <div class="hidden-effect hidden-words hidden-photo">
          <img
          ng-src="{{stand.imageHover}}" alt=""
          ui-sref="{{stand.ui}}"
          />
            <h4>{{stand.title}}</h4>
            <div class="hidden-add-word" ui-sref="{{stand.ui}}">{{stand.price}} | ADD TO CART</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--                  NG REPEAT WALLNUT CUPS      -->
  <div class="cups-row-container">
    <div class="cups-container">
      <div class="cups-photos" ng-repeat="cup in cups">
        <div class="cases-wrap" style="cursor: pointer">
          <img
          ng-src="{{cup.image}}" alt=""
          />
          <div class="hidden-effect hidden-words hidden-photo">
          <img
          ng-src="{{cup.image}}" alt=""
          ui-sref="{{cup.ui}}"
          />
            <h4>{{cup.title}}</h4>
            <div class="hidden-add-word" ui-sref="{{cup.ui}}">{{cup.price}} | ADD TO CART</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </main>

</div>
