<div>
  <div class="shopcover-jpg">
    <div class="shop-title">
      SHOP
    </div>
  </div>
  <main class="shop-main">
    <!--                NG_REPEAT DARK CASES PODUCTS ROW 1   -->
  <div class="cases-row-container">
    <div class="cases-container">
      <div class="cases-photos" ng-repeat="darkCase in darkCases">
        <div class="cases-wrap">
          <img
          ng-src="{{darkCase.case}}" alt=""
          />
          <div class="hidden-effect hidden-words hidden-photo">
          <img
          ng-src="{{darkCase.hover}}" alt=""
          />
            <h4>Case Walnut</h4>
            <div class="hidden-add-word">$99 | ADD TO CART</div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!--              NG_REPEAT LIGHT CASES ROW 2     -->
  <div class="cases-row-container">
    <div class="cases-container">
      <div class="cases-photos" ng-repeat="lightCase in lightCases">
        <div class="cases-wrap">
          <img
          ng-src="{{lightCase.case}}" alt=""
          />
          <div class="hidden-effect hidden-words hidden-photo">
          <img
          ng-src="{{lightCase.hover}}" alt=""
          />
            <h4>Case Walnut</h4>
            <div class="hidden-add-word">$99 | ADD TO CART</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--              NG_REPEAT DOCKS ROW        -->
  <div class="docks-row-container">
    <div class="docks-container">
      <div class="docks-photos" ng-repeat="dock in docks">
        <div class="cases-wrap">
          <img
          ng-src="{{dock.dock}}" alt=""
          />
          <div class="hidden-effect hidden-words hidden-photo">
          <img
          ng-src="{{dock.hover}}" alt=""
          />
            <h4>Case Walnut</h4>
            <div class="hidden-add-word">$99 | ADD TO CART</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--            NG-REAPEAT SPEAKERS ROW  -->
  <div class="speakers-row-container">
    <div class="speakers-container">
      <div class="speakers-photos" ng-repeat="speaker in speakers">
        <div class="cases-wrap">
          <img
          ng-src="{{speaker.speaker}}" alt=""
          />
          <div class="hidden-effect hidden-words hidden-photo">
          <img
          ng-src="{{speaker.speaker}}" alt=""
          />
            <h4>Case Walnut</h4>
            <div class="hidden-add-word">$99 | ADD TO CART</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </main>

</div>
