<div>
  <div class="walnut-speaker-cover p-covers">
    <div class="shop-title">
      WALNUT SPEAKER
    </div>
  </div>
  <main class="product-main">
    <div class="product-bar-container">
        <div class="product-bar-info">
          <h1 id="product-bar-title">
            Walnut & Leather iPhone Wallet Case
          <span style="font-size: 17px"> $129</span>
          </h1>
          <div>
            Ships In 4 - 6 Weeks
          </div>
        </div>
        <div class="product-bar-controls">
          <button class="product-bar-buy">
            Add To Cart
          </button>
        </div>
    </div>
    <div class="product_container">
      <div id="pc_left" class="walnut_speaker_pic">

      </div>
      <div id="pc_right">
        Keep your device secure on all sides and your most used cards well within reach with our walnut and leather iPhone wallet case. Minimalist in design and featuring a frame of solid walnut with a cover of premium vegetable-tanned leather.
      </div>
    </div>
    <div class="technical-specifications-container">
      <div class="technical-specifications-wrap">
        <div class="product-specs_container">
          <h2>
            <b>Technical</b> Specifications
          </h2>
            <div class="product-specs_column">
              <div class="product-specs_group">
                <h6 id="h-products">ORIGIN</h6>
                  <div id="p-marg">
                    Wood manufacturing and assembly by Grovemade in Portland, OR.
                  </div>
                  <div id="p-marg">
                    Electronic components made in the USA and abroad.
                  </div>
              </div>
              <div class="product-specs_group">
                <h6 id="h-products">DIMENSIONS</h6>
                  <div id="p-marg">
                    Speaker (ea)
                  </div>
                  <div id="p-marg">
                    Length: 7.5” Width: 3.5” Height: 8.75” Weight: 1.75 lbs
                  </div>
                  <div id="p-marg">
                    Amplifier
                  </div>
                  <div id="p-marg">
                    Length: 3.75” Width: 6.75” Height: 1.75” Weight: 1.25 lbs
                  </div>
              </div>
              <div class="product-specs_group">
                <h6 id="h-products">MATERIAL</h6>
                  <div id="p-marg">
                    American Black Walnut
                  </div>
                  <div id="p-marg">
                    Stainless Steel
                  </div>
                  <div id="p-marg">
                    Premium Vegetable Tanned Leather
                  </div>
                  <div id="p-marg">
                    Natural Cork Base
                  </div>
              </div>
            </div>
            <div class="products-specs_column2">
              <div class="product-specs_group">
                <h6 id="h-products">INFORMATION</h6>
                <div id="p-marg">
                  Back-loaded horn design 2 x 25W amplifier at 8 Ohms
                </div>
                <div id="p-marg">
                  2 RCA inputs for connection to any audio device
                </div>
                <div id="p-marg">
                  18 gauge custom speaker wire with banana plugs
                </div>
                <div id="p-marg">
                  20-20,000hz Frequency response
                </div>
                <div id="p-marg">
                  Includes speakers, amplifier, all necessary cables
                </div>
              </div>
              <div class="product-specs_group">
                <h6 id="h-products">CONSIDERATIONS</h6>
                <div id="p-marg">
                  The wood used in this product may be damaged by drops or other impacts. If a case that may break is not for you, please consider a rubber or plastic case.
                </div>
                <div id="p-marg">
                  This product uses authentic full grain leather which has beautiful imperfections from its natural origins. It will develop a distinguished character with use.
                </div>
                <div id="p-marg">
                  This product is made from natural materials, and you can expect a variation in color and wood grain.
                </div>
              </div>
            </div>
          </div>
          <div class="speaker_spec-img">

          </div>
        </div>
      </div>

  </main>
</div>
