<div>
  <div class="journalcover-jpg">
    <div class="journal-title">
      JOURNAL
    </div>
  </div>
  <main class="journal-main">
    <div class="journal-p1">
      <p>
        Grovemade is as much about its people as it is about its products. In our journal, we discuss and explore the processes behind our designs and manufacturing techniques, what it means to run an independent manufacturing business in 2016, as well as insights about our team and culture.
      </p>
    </div>
    <div class="journal-slides">
      <div class="journal-boxes">
        <img src="/images/journal/walnut-speaker-pic.jpg" alt="" />
      </div>
      <div class="journal-boxes">
        <img src="/images/carousel/home-goldwatch.jpg" alt="" />
      </div>
      <div class="journal-boxes">
        <img src="/images/about/about-4.jpg" alt="" />
      </div>
      <div class="journal-boxes">
        <img src="/images/covers/walnutaccessories-cover.jpg" alt="" />
      </div>
      <div class="journal-boxes">
        <img src="/images/covers/lamp-cover.jpg" alt="" />
      </div>
      <div class="journal-boxes">
        <img src="/images/covers/maplecase-cover.jpg" alt="" />
      </div>
      <div class="journal-boxes">
        <img src="/images/covers/mapledock-cover.jpg" alt="" />
      </div>
      <div class="journal-boxes">
        <img src="/images/about/about-1.jpg" alt="" />
      </div>
      <div class="journal-boxes">
        <img src="/images/covers/tallplanter-cover.jpg" alt="" />
      </div>
      <div class="journal-boxes">
        <img src="/images/about/about-7.jpg" alt="" />
      </div>
      <div class="journal-boxes">
        <img src="/images/covers/walnutdock-cover.jpg" alt="" />
      </div>
      <div class="journal-boxes">
        <img src="/images/journal/maple-speaker-pic.jpg" alt="" />
      </div>
    </div>
  </main>

</div>
