<div>
  <div class="stand-accessories p-covers">
    <div class="shop-title">
      WALNUT MONITOR STAND
    </div>
  </div>
  <main class="product-main">
    <div class="product-bar-container">
        <div class="product-bar-info">
          <h1 id="product-bar-title">
            Walnut Monitor Stand
          <span style="font-size: 17px"> $199</span>
          </h1>
          <div>
            Ships In 4 - 6 Weeks
          </div>
        </div>
        <div class="product-bar-controls">
          <button class="product-bar-buy">
            Add To Cart
          </button>
        </div>
    </div>
    <div class="product_container">
      <div id="pc_left" class="desk_pic2">

      </div>
      <div id="pc_right" class="desk_pic">

      </div>
    </div>
    <div class="dock_info_container">
        <div id="dock_info">
          <h4 style="color: #494c51">ORIGIN</h5>
          <p style="font-size: 13px">
            Design and final assembly by Grovemade in Portland, OR.
          </p>
          <p style="font-size: 13px">
            Lamination and molding done in Los Angeles, CA.
          </p>
        </div>
    </div>
    <div class="dock_info_container">
        <div id="dock_info">
          <h4 style="color: #494c51">INFORMATION</h5>
          <p style="font-size: 13px">
            Hand sanded and finished with vegetable-based oil
          </p>
          <p style="font-size: 13px">
            3.75” storage clearance underneath
          </p>
          <p style="font-size: 13px">
            Supports up to 200 pounds
          </p>
          <p style="font-size: 13px">
            Improved ergonomics
          </p>
        </div>
    </div>
    <div class="dock_info_container">
        <div id="dock_info">
          <h4 style="color: #494c51">MATERIALS</h5>
          <p style="font-size: 13px">
            American Black Walnut
          </p>
          <p style="font-size: 13px">
            Natural Cork Feet
          </p>
        </div>
    </div>
    <div class="dock_info_container">
        <div id="dock_info">
          <h4 style="color: #494c51">DIMENSIONS</h5>
          <p style="font-size: 13px">
            Length: 21" Width: 9"
          </p>
          <p style="font-size: 13px">
            Stand Surface: 14" x 9.2"
          </p>
          <p style="font-size: 13px">
            Height: 4.2" Thickness: 0.5 Weight: 2 lb 15.4 oz
          </p>
        </div>
    </div>
  </main>
</div>
