<div>
  <div class="aboutcover-jpg">
    <div class="about-title">
      ABOUT
    </div>
  </div>
  <main class="about-main">
    <!--Find What Matters P sections-->
    <div class="find-what-matters-container">
      <div class="h-find-container">
        <h2 id="about-h">Find What Matters</h2>
      </div>
      <div class="p-find-container">
        <p><em>
          Interested in visitin a Portland, Oregan workshop? Call now to set up an appointment.
        </em></p>
      </div>
      <div class="about-symbol">
        <p>
          ***
        </p>
      </div>
      <div class="about-p2">
        <p>
          We are a team of 20 who prioritize the search for what matters above all else. We love our jobs and our lives, and won't settle for anything less. Our work is an exploration to grow, reach, and push our boundaries to our fullest potential.
        </p>
      </div>
    </div>
    <div class="about-photo-container">
      <div class="about1-jpg"></div>
      <div class="about2-jpg"></div>
    </div>
    <div class="about-p3">
      <p>
        When it comes down to it, it’s more than just designing and making products. It’s about the people behind the process and all of you throughout the world who share the same values. We're on an adventure and hope you'll join us.
      </p>
    </div>
    <div class="about-p4">
      <p>
        We believe our goods are meaningful because of the thoughtfulness of the people behind them.
      </p>
    </div>
    <!--NG_REPEAT EMPLOYEES-->
    <div class="employee-container">
    </div>
    <div class="h-ourstory-container">
      <p>Our Story</p>
    </div>
    <div class="about-p5">
      <p>
        Grovemade was born from friendship and the spirit to create in 2009 by Joe Mansfield and Ken Tomita. As friends and neighbors, they had no other vision than to “make cool stuff and have fun doing it”. They never could have expected it turning into what it is today, with global reach and a crew of 20 fun-loving, hard-working trail blazers.
      </p>
    </div>
    <div class="about-photo-container2">
      <div class="about3-jpg"></div>
      <div class="about4-jpg"></div>
    </div>
    <div class="about-p6">
      <p>
        Over the last six years, we’ve been on a winding path to find our way. With no outside investors, our bootstrapped venture has had the freedom to become anything we want it to be. As self-started entrepreneurs with backgrounds in digital art and furniture making respectively, Joe and Ken founded the company in the spirit of DIY, and as our team has grown over the years, we’ve never lost that spirit. Rather than obsessing with growth, we pursue the greatest product possible. For us, that means taking control of the whole process, staying small, and revolutionizing how manufacturing can be done.
      </p>
    </div>
    <div class="h-ourstory-container">
      <p>All Hands On Deck</p>
    </div>
    <div class="about-p7">
      <p>
        Rather than the traditional separations between design, manufacturing, and administration, we blend all departments together. Our marketing, photography, writing, and customer service are all done mere feet away from our woodshop. We encourage dynamic roles where jobs intersect, collaborate, and evolve every day. The crappy manufacturing job doesn’t exist here; we all take part in making, and we all contribute in other ways, too.
      </p>
    </div>
    <div class="about5-jpg">
    </div>
    <div class="about-p8">
      <p>
        There are traditionally two ends of the spectrum: Mass produced items are made in sprawling factories by anonymous workers creating efficiency through scale; Crafted products are produced in tiny quantities by skilled individuals with a small audience and limited technical capabilities. We’ve carved out a place for ourselves somewhere in the middle, shipping the highest quality, handmade products worldwide, directly from our hands to yours
      </p>
    </div>
    <div class="h-ourstory-container">
      <p>Visit Our Shop</p>
    </div>
    <div class="about-p9">
      <p>
        Occupying a former auto repair shop, our workspace spans nearly 5000 square feet and houses our workshop and operations center, as well as our product showroom. We’re proud of the things we make and the processes required to manufacture them. If you’re interested in taking a look behind the scenes or making an in-person purchase, send us a line at notarealemail@grovemade.com to make an appointment. We look forward to seeing you!
      </p>
    </div>
    <div class="about-photo-container3">
      <div class="about6-jpg"></div>
      <div class="about7-jpg"></div>
    </div>
    <div class="about-p10">
      <p>
        The world has changed dramatically in the last ten years. A company like ours can stay small and special, yet have a global reach, and, hopefully, an impact beyond our size. Physical goods can only do so much to make the world a better place. We like to think that our greatest contribution is through sharing our way, whether it’s through collaboration, our products, or our story.
      </p>
    </div>
    <div class="h-ourstory-container">
      <p>We hope you find what matters, too.</p>
    </div>
  </main>
</div>
