<div>
  <div class="aboutcover-jpg">
    <!-- <div class="he">
        <p class="h-size">SHOP</p>
    </div> -->
  </div>
  <main class="about-main">
    <!--Find What Matters -->
    <div class="find-what-matters-container">
      <div class="h-find-container">
        <h2 id="about-h">Find What Matters</h2>
      </div>
      <div class="p-find-container">
        <p><em>
          Interested in visitin a Portland, Oregan workshop? Call now to set up an appointment.
        </em></p>
      </div>
      <div class="about-symbol">
        <p>
          ***
        </p>
      </div>
      <div class="about-p2">
        <p>
          We are a team of 20 who prioritize the search for what matters above all else. We love our jobs and our lives, and won't settle for anything less. Our work is an exploration to grow, reach, and push our boundaries to our fullest potential.
        </p>
      </div>
    </div>
    <div class="about-photo-container">
      <div class="about1-jpg"></div>
      <div class="about2-jpg"></div>
    </div>
    <div class="about-p3">
      <p>
        When it comes down to it, it’s more than just designing and making products. It’s about the people behind the process and all of you throughout the world who share the same values. We're on an adventure and hope you'll join us.
      </p>
    </div>
    <div class="about-p4">
      <p>
        We believe our goods are meaningful because of the thoughtfulness of the people behind them.
      </p>
    </div>
  </main>
</div>
